@model NewsVM
<!-- Page Content -->
<div class="container">
    <div class="row" style="margin-top: 4%">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">@Model.New.Title</h2>
                    <p>
                        <b>Category : </b>
                        <a href="category.html">@Model.New.Category.Name</a>
                        | <b>Sub Category : </b>@Model.New.SubCategory.Name
                        <b>
                            <br />
                            @Model.New.CreateTime}
                        </b>
                    </p>
                    <hr />
                    <img class="img-fluid rounded"
                         src="~/admin/assets/postimages/@Model.New.Image"
                         alt="" />
                    <p class="card-text">
                        @Model.New.Description
                    </p>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="card-body">
                        <form name="search" asp-action="Search" asp-controller="News" method="post">
                            <div class="input-group">
                                <input type="text"
                                       name="searchtitle"
                                       class="form-control"
                                       placeholder="Search for..."
                                       required />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-secondary">Go!</button>
                                </span>

                            </div>
                            <span asp-validation-for="News" class="text-danger"></span>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                               @foreach (var item in Model.Categories)
                                {
                                    <li>
                                        <a asp-action="Index" asp-controller="Category" asp-route-CategoryId="@item.Id">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Recent News</h5>
                <div class="card-body">
                    <ul class="mb-0">
                        @foreach (var item in Model.News)
                        {
                            <li>
                                <a asp-controller="News"  asp-action="NewDetail" asp-route-NewsId="@item.Id">@item.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!---Comment Section --->
    <div class="row" style="margin-top: -8%">
        <div class="col-md-8">
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form name="Comment" method="post" asp-action="Create" asp-controller="Comment">
                      
                        <div class="form-group">
                            <textarea class="form-control"
                                      asp-for="Description"
                                      rows="3"
                                      placeholder="Comment"
                                      required></textarea>
                        </div>
                        <input hidden asp-for="@Model.New.Id" />
                        <button  type="submit" class="btn btn-primary" name="submit">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
            @if (Model.Comments.Count != 0)
            {
                foreach (var item in Model.Comments)
                {
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle"
                             src="./assets/images/usericon.png"
                             alt="" />
                        <div class="media-body">
                            <h5 class="mt-0">
                                @item.Username
                                <br />
                                <span style="font-size: 11px"><b>@item.CreateTime</b> </span>
                            </h5>
                            @item.Text
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

    <!-- /.container -->
